.body {
	background-color: #383838;
}

.header {
	background-color: #383838;
}

.header > h1 {
	font: 24px "Lobster", serif;
	width: 90%;
	font-size: 6em;
	text-align: center;
	background: linear-gradient(
		60deg,
		hsl(0, 75%, 50%) 10%,
		hsl(20, 75%, 50%) 10%,
		hsl(20, 75%, 50%) 25%,
		hsl(50, 75%, 50%) 25%,
		hsl(50, 75%, 50%) 40%,
		hsl(130, 75%, 50%) 40%,
		hsl(130, 75%, 50%) 55%,
		hsl(200, 75%, 50%) 55%,
		hsl(200, 75%, 50%) 70%,
		hsl(260, 75%, 50%) 70%,
		hsl(260, 75%, 50%) 85%,
		hsl(0, 75%, 50%) 85%
	);

	color: #fff;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: 10s BeProud linear infinite,
	3s Always ease alternate infinite;
}

@keyframes BeProud {
	100% { background-position: 100vw 0; }
}

@keyframes Always {
	100% { transform: scale(1.1);}
}
.textbody {
	background-color: #383838;
	font: 24px "Roboto Condensed", sans-serif;
	color: #ffffff;
	text-align: center;
	font-size: 1.4em;
}
.footer {
	font: 24px "Lobster", serif;
	width: 100%;
	color: #DC143C;
	font-size: 3em;
	text-align: center;
}
.column {
  float: left;
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
  }
}